.login-register-page {
    padding: 1.5vh;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nunito-font {
    font-family: "NunitoSemiBold", sans-serif;
}

.login-register-container {
    background-color: #3a3a3a;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    max-width: 400px;
}

.swal-icon-class {
    font-size: 0.6rem !important; /* Ajusta este valor para cambiar el tamaño del icono */
    width: 3rem !important;
    height: 3rem !important;
}

.title-icon{
    font-size: 1.7rem !important;
}

.login-register-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #e0e0e0;
    font-family: "NunitoSemiBold", sans-serif;
    font-size: 28px;
}

.login-register-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-register-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-register-container label {
    font-size: 14px;
    font-weight: 600;
    color: #b0b0b0;
    font-family: "NunitoRegular", sans-serif;
}

.login-register-container input {
    padding: 12px;
    width: 90%;
    border: 1px solid #4a4a4a;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #2c2c2c;
    color: #e0e0e0;
}

.login-register-container input:focus {
    outline: none;
    border-color: #6c5ce7;
    box-shadow: 0 0 0 2px rgba(108, 92, 231, 0.25);
}

.login-register-container .submit-button {
    padding: 12px 20px;
    color: #ffffff;
    background-color: #6c5ce7;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    font-family: "NunitoSemiBold", sans-serif;
}

.login-register-container .submit-button:hover {
    background-color: #5641e5;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(108, 92, 231, 0.3);
}

.login-register-container .submit-button:active {
    transform: translateY(0);
    box-shadow: none;
}

.login-register-container .error-message {
    background-color: #4a1c1c;
    color: #ff9999;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.login-register-container .toggle-mode {
    text-align: center;
    margin-top: 25px;
    color: #a29bfe;
    cursor: pointer;
    font-size: 14px;
    font-family: "NunitoRegular", sans-serif;
    transition: color 0.3s ease;
}

.login-register-container .toggle-mode:hover {
    color: #6c5ce7;
    text-decoration: underline;
}

@media (max-width: 480px) {
    .login-register-container {
        padding: 30px;
    }

    .login-register-container input,
    .login-register-container .submit-button {
        font-size: 14px;
    }

    .login-register-container h2 {
        font-size: 24px;
    }
}